body {
  text-align: center;
  background-color: black;
}
.picture {
  position: relative;
  border-radius: 100%;
  height: 1000px;
}
.picture2 {
  position: relative;
  border-radius: 100%;
  height: 1000px;
}
h1 {
  color: white;
  width: 50px;
  margin: 50px auto 50px auto;
}
